* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cfcfcf;
}

/* HEADER */

header {
    text-align: center;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}